.container{
    padding: 30px;
    max-width: 500px;
    margin: 0 auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn{
    margin: 10px 0;
    width: 100%;
}

.toast{
    animation: float 3s infinite;
    display: none;
}

@keyframes float{
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}